*{
    padding: 10px;
    border: 0px;
    overflow: auto;
    box-sizing: border-box;
    color: white;
    font-size: 25px;
    text-align: center;
}
body{
    background-color: rgb(13, 31, 46);
}
nav{
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
}
nav div{
    font-weight: bold;
    border: 2px solid gray;
    padding: 20px;
    border-radius: 10px;
    width: 15%;
    cursor: grab;
}
nav div:hover{
    background-color: white;
    color: rgb(13, 31, 46);
}
.contenitore{
    width: 100%;
}
footer{
     margin-top:auto;    
}